.navbar {
  display: flex;
  align-items: flex-end;
  gap: 6px;

  &__link {
    color: black;
    font-size: 20px;
    text-decoration: none;
    
    &:first-child {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

