@import "./src/components/Catalog/Item/Item";

.cart-item {
  @extend .product-item;

  &__image {
    @extend .product-item__image;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px 7px 0 0;
    }
  }

  &__title {
    @extend .product-item__title;
  }

  &__description {
    @extend .product-item__description;
  }

  &__code {
    @extend .product-item__code;
  }

  &__color {
    @extend .product-item__color;
  }

  &__price {
    @extend .product-item__price;

    &-sum {
      @extend .product-item__price-sum;
    }
  }
}